In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

from pathlib import Path

In [9]:
# Showing my path for my files
os.getcwd()

'C:\\Users\\Ryan\\Desktop\\Ryan\\School\\MS_DataScience\\DSC680_Applied_Data_Science\\Project_2'

In [42]:
# Reading in the csv file
df = pd.read_csv('C:\\Users\\Ryan\\Desktop\\Ryan\\School\\MS_DataScience\\DSC680_Applied_Data_Science\\Project_2\\results.csv')

# creating a point difference column
sum_column = df['home_score'] - df['away_score']
df['point_difference'] = sum_column
# Showing the first few rows of the dataframe
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,point_difference
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,0.0
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,2.0
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,1.0
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,0.0
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,3.0

In [43]:
# finding out the number of rows and columns of the dataset, along with column names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42405 entries, 0 to 42404
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              42405 non-null  object
 1   home_team         42402 non-null  object
 2   away_team         42402 non-null  object
 3   home_score        42397 non-null  float64
 4   away_score        42397 non-null  float64
 5   tournament        42405 non-null  object
 6   city              42405 non-null  object
 7   country           42405 non-null  object
 8   neutral           42402 non-null  object
 9   point_difference  42397 non-null  float64
dtypes: float64(3), object(7)
memory usage: 2.1+ MB

In [44]:
# using df.loc to search for FIFA World Cup Tournament teams only
df_fwc = df.loc[df['tournament'] == 'FIFA World Cup']
df_fwc

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,point_difference
1314,1930-07-13,Belgium,United States,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,-3.0
1315,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True,3.0
1316,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True,-1.0
1317,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,-2.0
1318,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True,1.0
...,...,...,...,...,...,...,...,...,...,...
39980,2018-07-07,Russia,Croatia,2.0,2.0,FIFA World Cup,Sochi,Russia,False,0.0
39981,2018-07-10,France,Belgium,1.0,0.0,FIFA World Cup,St. Petersburg,Russia,True,1.0
39982,2018-07-11,Croatia,England,2.0,1.0,FIFA World Cup,Moscow,Russia,True,1.0
39983,2018-07-14,Belgium,England,2.0,0.0,FIFA World Cup,St. Petersburg,Russia,True,2.0
39984,2018-07-15,France,Croatia,4.0,2.0,FIFA World Cup,Moscow,Russia,True,2.0

In [58]:
# point difference column
# if point difference is negative - away team won
# if point difference is positive - home team won
# if point difference is 0 - tie game

h = df_fwc['home_team'].value_counts()
a = df_fwc['away_team'].value_counts()

print('Home team games played: \n'+str(h))
print('Away team games played: \n'+str(a))

Home team games played:
Brazil                    84
Germany                   77
Argentina                 60
Italy                     49
France                    40
                          ..
Norway                     1
Bosnia and Herzegovina     1
Iceland                    1
Iraq                       1
Angola                     1
Name: home_team, Length: 78, dtype: int64
Away team games played:
Uruguay           37
Italy             34
Spain             33
England           33
Germany           32
                  ..
Bolivia            2
Indonesia          1
Czech Republic     1
DR Congo           1
Togo               1
Name: away_team, Length: 79, dtype: int64